<form [formGroup]="adminForm">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Add Details</label>

        <!-- getting the formselect array from adminform and using its value as option-->
        <select #optionVal formControlName="formSelect" (change)="addNewField(optionVal.value)">
            <option *ngFor="let select of getFormArray('formSelect').controls; let i=index" value={{select.value}}>
                {{select.value|titlecase}}
            </option>
        </select>
    </div>


    <div class="form-check form-switch" *ngIf="getFormArray('formCheckbox').length">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
         (click)="toggleFields('checkbox')" formControlName="enableCheckbox">
        <label class="form-check-label" for="flexSwitchCheckDefault">On/Off</label>
    </div>
    <div class="mb-3" formArrayName="formCheckbox">
        <div class="form-check" *ngFor="let checkboxGroup of getFormArray('formCheckbox').controls; let i=index"
            [formGroupName]="i">
            <input type="text" placeholder="Checkbox {{i+1}}" formControlName="label">
            <input class="form-check-input" type="checkbox" formControlName="ticked">
        </div>
    </div>

    <div class="form-check form-switch" *ngIf="getFormArray('formTextarea').length">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
         (click)="toggleFields('textarea')" formControlName="enableTextarea">
        <label class="form-check-label" for="flexSwitchCheckDefault">On/Off</label>
    </div>
    <div class="mb-3" formArrayName="formTextarea">
        <div *ngFor="let textboxGroup of getFormArray('formTextarea').controls; let i=index" [formGroupName]="i">
            <input type="text" placeholder="Textarea {{i+1}}" formControlName="label">
            <textarea class="form-control" placeholder="Enter your text" formControlName="value">
            </textarea>
        </div>
    </div>

    <div class="form-check form-switch" *ngIf="getFormArray('formNumber').length">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
         (click)="toggleFields('number')" formControlName="enableNumber">
        <label class="form-check-label" for="flexSwitchCheckDefault">On/Off</label>
    </div>
    <div class="mb-3" formArrayName="formNumber">
        <div *ngFor="let numberGroup of getFormArray('formNumber').controls; let i=index" [formGroupName]="i">
            <input type="text" placeholder="Value {{i+1}}" formControlName="label">
            <input type="number" placeholder="Minimum" formControlName="min">
            <input type="number" placeholder="Maximum" formControlName="max">
            <input type="number" placeholder="Enter your number" min="min" max="max" formControlName="value">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- {{this.adminForm.value|json}} -->